$react-blue: #61dafb;
$green: green;
$red: red;
$yellow: gold; // #FFD700
$thatLittleBit: 1.2em;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.button {
  cursor: pointer;
  margin: $thatLittleBit;
  padding: 0.6em;
  font-size: 0.8em;
  background-color: #ddd;
  @include border-radius(0.4em);
  &:disabled {
    cursor: default;
  }
}

#app {
  .app-header {
    background-color: #222;
    padding: 1em 2em;
    color: white;
    text-align: center;
    h2 {
      display: inline-block;
    }
    a {
      color: white;
      &:hover {
        color: $react-blue;
      }
    }
  }

  #refresh-button {
    margin: $thatLittleBit / 2;
    display: inline-block;
  }

  // TODO - style much much more
  .pager {
    margin: 0 0.2em 1.4em 0;
    cursor: pointer;

    &.current-page {
      color: $react-blue;
      transform: scale(1.3, 1.3);
      margin: 0 0.5em 1.4em 0.2em;
    }
  }

  a {
    // TODO - make different color?
  }

  .brewers {
    padding-bottom: $thatLittleBit;
    .filter {
      margin: $thatLittleBit;
      padding: 0.6em;
      font-size: 1em;
    }
    .no-results {
      margin: 0.5em;
    }
  }

  .brewery {
    // This is for product and brewery
    .status {
      font-style: italic;
    }

    &:nth-child(even) {
      background-color: lightgrey;
    }

    padding: 0.5em;
    width: auto;

    span,
    address,
    .tel-link,
    .brewer-notes {
      margin: 0.5em;
    }
    .brewer-notes {
      line-height: 1.3em;
    }

    span {
      &.more-info {
        font-size: 0.7em;
        cursor: pointer;
        border-bottom: 1px solid #00e;
        &:hover {
          color: #00e;
        }
      }
    }

    .product {
      margin-left: 1.5em;

      .product-status {
        font-size: 0.8em;
      }
    }
  }

  .circle:before {
    content: " \25CF";
    font-size: 1.25em;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .yellow {
    color: $yellow;
  }

  .hidden {
    display: none;
  }

  .app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 5em;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loading {
    margin-left: $thatLittleBit;
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
      animation: ellipsis steps(4, end) 1500ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0;
    }
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}
