$react-blue: #61DAFB;
$green: green;
$red: red;
$yellow: gold; // #FFD700

.app {
  &-header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: center;
    a {
      color: white;
      &:hover {
        color: $react-blue;
      }
    }
  }

  a {
    // TODO - make different color?
  }

  .brewery {
    &:nth-child(even) {
      background-color: lightgrey;
    }

    padding: 5px;
    width: auto;

    span {
      margin: 5px;
      .more-info {
        font-size: 0.8em;
      }
    }
  }

  .circle:before {
    content: ' \25CF';
    font-size: 20px;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .yellow {
    color: $yellow;
  }

  .hidden {
    display: none;
  }

  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
    animation: ellipsis steps(4, end) 1500ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

}
